%h2 My Destroyers

= will_paginate @destroyers
%table
  %tr
    %th
    %th Name
    %th Creator
    %th Price
    %th Description
  - for destroyer in @destroyers
    %tr
      %td= image_tag(destroyer.photo.url)
      %td= h destroyer.name
      %td= h = User.find(destroyer.creator).full_name
      %td= h destroyer.price
      %td description_and_more(destroyer)
      %td= link_to 'Show', members_destroyer_path(destroyer)
      %td= link_to 'Edit', edit_members_destroyer_path(destroyer)
      %td= link_to 'Destroy', members_destroyer_path(destroyer), :confirm => 'Are you sure?', :method => :delete
      %td= h is_favorite?(destroyer)

%p
  %b= link_to "New Destroyer", new_members_destroyer_path
