- content_for :title do
  = "Edit #{@user}"

%h2
  = "Editing #{@user}"
  .action
    = link_to image_tag('icon_small_larrow.png'), members_user_path
    = link_to 'back to profile', members_user_path
  .action
    = link_to image_tag('icon_small_delete.png'), members_user_path(@user), :confirm => 'Are you sure?', :method => :delete
    = link_to 'delete your profile', members_user_path(@user), :confirm => 'Are you sure?', :method => :delete  

= render :partial => "form", :locals => {:user => @user}
