- form_for [:members, destroyer] do |f|
  = f.error_messages
  .form_left
    = image_tag destroyer.photo.url(:medium)
    %p
      = f.label :photo
      = f.file_field :photo
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :price
    %br
    = f.text_field :price
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.submit
