- content_for :title do
  Destroyers

%table
  %tr
    %th Name
    %th Price
    %th Description
  - for destroyer in @destroyers
    %tr
      %td= h destroyer.name
      %td= h destroyer.price
      %td= h destroyer.description
      %td= link_to 'Show', member_destroyer_path(destroyer)
      %td= link_to 'Edit', edit_member_destroyer_path(destroyer)
      %td= link_to 'Destroy', member_destroyer_path(destroyer), :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Destroyer", new_member_destroyer_path
