%h2 My Destroyers

= will_paginate @destroyers
%table
  - for destroyer in @destroyers
    %tr
      %th image
      %th
        = h link_to destroyer.name, members_destroyer_path(destroyer)
        by
        = h = User.find(destroyer.creator).full_name
        (
        = h destroyer.price
        ArmadaBucks)
        %br
        = h destroyer.description
      %td= link_to 'Show', members_destroyer_path(destroyer)
      %td= link_to 'Edit', edit_members_destroyer_path(destroyer)
      %td= link_to 'Destroy', members_destroyer_path(destroyer), :confirm => 'Are you sure?', :method => :delete
      %td= favorite_button(destroyer)

%p
  %b= link_to "New Destroyer", new_members_destroyer_path
