%h2=@destroyer.name
%p
  = render :partial => "by", :locals => {:destroyer => @destroyer}
%p
  %strong Name:
  =h @destroyer.name
%p
  %strong Description:
  =h @destroyer.description
%p
  %strong Cost:
  =h @destroyer.price
  ArmadaBucks
%p
  = link_to image_tag("icon_small_larrow.png", :border=>0) + ' back to list', :back
  - if current_user == @destroyer.creator
    |
    = link_to image_tag("icon_small_edit.png", :border=>0) + ' edit', edit_members_destroyer_path(@destroyer)
    |
    = link_to image_tag("icon_small_delete.png", :border=>0) + ' delete', members_destroyers_path(@destroyer), :confirm => 'Are you sure?', :method => :delete
  .star{:id => favorite_div(@destroyer)}= favorite_button(@destroyer)
