%h2=@destroyer.name
%p
  created by
  = User.find(@destroyer.creator).full_name
  on
  = @destroyer.created_at.to_s(:datelong)

%p
  %strong Name:
  =h @destroyer.name
%p
  %strong Description:
  =h @destroyer.description
%p
  %strong Price:
  =h @destroyer.price
%p
  = link_to image_tag("icon_small_larrow.png", :border=>0) + ' back to list', members_destroyers_path
  - if current_user == @destroyer.creator
    |
    = link_to image_tag("icon_small_edit.png", :border=>0) + ' edit', edit_members_destroyer_path(@destroyer)
    |
    = link_to image_tag("icon_small_delete.png", :border=>0) + ' delete', members_destroyers_path(@destroyer), :confirm => 'Are you sure?', :method => :delete
  .star{:id => favorite_div(@destroyer)}= favorite_button(@destroyer)
