%h2 All Favorites

%p
  = pluralize(@favorites.count, "Favorite")
  as of
  = Time.now.to_s(:datelong)
  
%table
  %tr
    %th Name
    %th Creator
    %th Price
    %th Description
  - for favorite in @favorites
    - destroyer = Destroyer.find_by_id(favorite.destroyer_id)
    %tr
      %td= h destroyer.name
      %td= h User.find(destroyer.creator).full_name
      %td= h destroyer.price
      %td= description_and_more(destroyer)
      %td= link_to 'Show', destroyer_url(destroyer)
