<h1>Listing favorites</h1>

<table>
  <tr>
    <th>name</th>
  </tr>

<% @favorites.each do |favorite| %>
  <tr>
    <td><%= favorite.destroyer %>
    <td><%= link_to 'Show', favorite %></td>
    <td><%= link_to 'Edit', edit_members_favorite_path(favorite) %></td>
    <td><%= link_to 'Destroy', favorite, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New favorite', new_members_favorite_path %>