- content_for :title do
  Administration Home


%h2 Administration Home
#main
  %p 
    This is the administration interface for the 
    =APP_TITLE 
    application.
  %p Use the tabs above to manage users and roles.
  
= will_paginate @destroyers
%table
  %tr
    %th Name
    %th Creator
    %th Price
    %th Description
  - for destroyer in @destroyers
    %tr
      %td= h destroyer.name
      %td= h = User.find(destroyer.creator).full_name
      %td= h destroyer.price
      %td= h truncate(destroyer.description, :length => 45)
      %td= link_to 'Show', members_destroyer_path(destroyer)
      - if current_user == destroyer.creator
        %td= link_to 'Edit', edit_members_destroyer_path(destroyer)
        %td= link_to 'Destroy', members_destroyer_path(destroyer), :confirm => 'Are you sure?', :method => :delete
      %td= h is_favorite?(destroyer)

%p
  %b= link_to "New Destroyer", new_members_destroyer_path