%h2 All Destroyers
%p
  = pluralize(@destroyers.count, "Destroyer")
  as of
  = Time.now.to_s(:datelong)
  
#pagination
  = will_paginate @destroyers
%br

%table
  %tr
    %th
    %th Name
    %th Creator
    %th Price
    %th Description
  - for destroyer in @destroyers
    %tr
      %td= image_tag(destroyer.photo.url(:thumb))
      %td= h destroyer.name
      %td= h = User.find(destroyer.creator).full_name
      %td= h destroyer.price
      %td= description_and_more(destroyer)
      %td= link_to 'Show', destroyer_url(destroyer)
      
%p#newdest
  %b= link_to "New Destroyer", new_members_destroyer_path
