%h2 All Destroyers
%p
  = pluralize(@total_destroyers, "Destroyer")
  as of
  = Time.now.to_s(:datetime)
  
= will_paginate @destroyers
%table
  %tr
    %th Name
    %th Price
    %th Description
  - for destroyer in @destroyers
    %tr
      %td= h destroyer.name
      %td= h destroyer.price
      %td= h destroyer.description
      %td= link_to 'Show', admin_destroyer_path(destroyer)
